<template name="aform">
  {{>navigation}}
  <!--  {{> navigation}}-->
  <!-- this is the dialog modal section. -->

  {{#each question in questions}} <!-- Loop to return all questions-->
  <form class="form">
    <div class="container">
      <div class="row">
        <!-- Card Projects -->

        <div class="col-md-6 col-md-offset-3">
          <div class="card">

            <div class="card-content">
              <button class="btn btn-danger pull-right close" id="close">Close</button>
              <h3 id="title">{{question.name}}</h3>
            </div>
            <div class="container-fluid">
              <div  class=" form-group">

                <input type="text" placeholder="Type in your answer" class="form-control"  id="{{question._id}}" required>
                <span class="form-highlight"></span>
                <span class="form-bar"></span>

              </div>
            </div>

            <div data="{{question._id}}" class="card-action" >
              <a href=''>Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {{/each}}

  <script>


  </script></template>
  <!-- testing the commits-->
