<template name="board">
  {{>navigation}}
  <div style="height=200px"></div>
  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
              <th>Email</th>
              <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {{#each user in users}}
        <tr class="clickrow"> <td>{{user.emails.[0].address}}</td>  <td> {{user._id}} </td> </tr>
        {{/each}}
        <tr  class="clickrow"> <td>Jacob</td>  <td>1234</td> </tr>
        <tr> <td>Larry</td>  <td>3123</td> </tr>
      </tbody>
    </table>
  </div>
</template>
