<template name="home">
  {{>navigation}}
<body>
<div class="container">
  <h1  >Hello </h1>
    <h3>
      <br> <br>
        <p>Welcome to Company Trivia!!!</p> <br>
        <h4><p>
        Here is where you can have some interactive fun and compete in an entertaining knowledge contest.<br>
        The subjects are related to both general knowledge and internal changes/events in Rodax.<br>
        Have a go! Test your knowledge and get the Prize waiting at the end of the month.<br><br>
        To start just click Start Playing.
        </p></h4>
        <br>
    </h3>
</div>
  <div class="container">
    <a href="/aform" class="btn btn-primary col-md-offset-5" role="button">Start Playing</a>
  </div>
</body>
</template>
