<template name="navigation">
  <div class="container">
        <nav class="navbar navbar-light bg-faded center-block">
          <div class="navbar-toggleable-md" id="navbar-header">
                <ul class="nav navbar-nav">
              <li class="nav-item active">

                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/board">Leader Board<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/questions">Question Sets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/rules">Rules</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aform">Answering</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{> loginButtons}}</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/questionList">Questions List</a>
              </li> -->
            </ul>

          </div>
        </nav>
      </div>
</template>
