<template name="navigation">
  <div class="container">
        <nav class="navbar navbar-light bg-faded center-block">
          <div class="navbar-toggleable-md" id="navbar-header">
                <ul class="nav navbar-nav">
              <li class="nav-item active">

                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/users">Leader Board<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/rules">Rules</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aform">Answering</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{> loginButtons}}</a>
              </li>

              <li>
                <ul class="nav nav-item" style="padding:0px;">
                  <li role="presentation" class="dropdown" style="    height: 50px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false" style="padding:15px;">
                      Admin <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                          <li class="nav-item">
                            <a class="nav-link" href="/board">Manage Users</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/questionList">Manage Questions</a>
                          </li>

                        </ul>
                    </li>

                    </ul>
                  </li>
            </ul>

          </div>
        </nav>
      </div>
</template>
