<template name="questionList">
  {{>navigation}}
  <div class="container">
  <div style="height=200px"></div>

  <button id="add" type="button" class="btn btn-default" >Add</button>


  <div class="list-group">
{{#each questions}}
                <a href="#" class="list-group-item">{{name}}
                    <div class="btn-group inline pull-right">
                        <button type="button" class="btn-danger delete btn-xs">
                            Delete</button>
                    </div>
                 </a>
                {{else}}
                <h4>No questions added</h4>
                {{/each}}

</div>
</div>
</template>
