<template name="rules">
  {{>navigation}}
  <div class="container">
    <h3>Rules</h3>
    <br><br>
    <h4>
      <p>
        - Before each round, you will need to login with your company email address (user@rodax.ro) for proper score keeping.<br><br>
        - Each user has the chance to go through all the questions once per month. This will be done by splitting
          the Question list in 4 batches of 25 questions.<br><br>
        - Each question needs to be answered within the alocated time. One set has an allocated resolving time of 10 minutes.
          Once the 10 minutes pass, the session will be closed and the answers added by then will be recorded in your account.<br><br>
        - When the 4 sets are complete, the scores will be kept until the end of the month.<br><br>
        - The winner will be determined by the highest number of correct answers. If there are 2 or more users with the same high score,
          then the decision will be made based on the total time used to answer the questions.<br><br>
      </p><br>
    </h4>
  </div>
</template>
