/* distance between stacked modals*/
/* The first modal translateZ value*/
.card {background-color: white};
.container {
  margin: 5em auto;
}
.backgrd {
    width: 100%;
    height: 400px;
    background-image: url('http://www.electrogaspoint.com/images/backs/5657397_6094735Chapwood-website-background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.modal.in {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}
.modal.in .modal-dialog.aside {
  -webkit-transform: -340px;
  -moz-transform: -340px;
  -o-transform: -340px;
  -ms-transform: -340px;
  transform: -340px;
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
  -o-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
  transform: scale(0.8) rotateY(45deg) translateZ(-340px);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.modal.in .modal-dialog.aside.aside-1 {
  -webkit-transform: calc(-300px);
  -moz-transform: calc(-300px);
  -o-transform: calc(-300px);
  -ms-transform: calc(-300px);
  transform: calc(-300px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
}
.modal.in .modal-dialog.aside.aside-2 {
  -webkit-transform: calc(-260px);
  -moz-transform: calc(-260px);
  -o-transform: calc(-260px);
  -ms-transform: calc(-260px);
  transform: calc(-260px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
}
.modal.in .modal-dialog.aside.aside-3 {
  -webkit-transform: calc(-220px);
  -moz-transform: calc(-220px);
  -o-transform: calc(-220px);
  -ms-transform: calc(-220px);
  transform: calc(-220px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
}
.modal.in .modal-dialog.aside.aside-4 {
  -webkit-transform: calc(-180px);
  -moz-transform: calc(-180px);
  -o-transform: calc(-180px);
  -ms-transform: calc(-180px);
  transform: calc(-180px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
}
.modal.in .modal-dialog.aside.aside-5 {
  -webkit-transform: calc(-140px);
  -moz-transform: calc(-140px);
  -o-transform: calc(-140px);
  -ms-transform: calc(-140px);
  transform: calc(-140px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
}



.center-block{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#login-sign-in-link{
    text-decoration: none!important;

}
.btn-danger delete btn{
    padding: none;

}
.modal-footer{
    clear: both;
}
